[Unit]
Description=DomU
Requires=displbe.service sndbe.service
After=displbe.service sndbe.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/xl create /etc/xen/domu.cfg
ExecStop=/usr/sbin/xl destroy DomU
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
